<div>
    <h3>Пункты меню</h3>
    <ul>
        <li><a href="/profile">Профиль</a></li>
        {{#if isAdm}}
            <li><a href="/addperson">Добавить нового пользователя</a></li>
            <li><a href="/addcredit">Добавить новый кредит</a></li>
            <li><a href="/adddeposit">Добавить новый депозит</a></li>
        {{else}}
            {{#if isEmployee}}
                <li><a href="/addperson">Добавить нового пользователя</a></li>
            {{else}}
                <li><a href="/profile/mycredit">Кредитный счет</a></li>
                <li><a href="/profile/mydeposit">Депозитный счет</a></li>
                <li><a href="/profile/mypayment">Расчетный счет</a></li>
                <li><a href="#">Переводы</a></li>
                <li><a href="#">Оплатить</a></li>
                {{/if}}
        {{/if}}
        
    </ul>
</div>