<div    style="margin: 0 auto; width: 400px">
<h2>Войти</h2>
<form action="/auth" method="POST">
    <label for="login">Логин:</label>
    <input class="form-control" type="text" id="login" name="login" required>
    <p></p>
    <label for="password">Пароль:</label>
    <input class="form-control" type="password" id="password" name="password" required>
    <button class="btn btn-primary">Жмякай</button>
</form>
</div>
