<h1>Расчетный счет</h1>

{{#if payment}}
    {{#each payment}}
        <div style="border: 1px solid black;">
            Номер счета: {{id}}
            <br>
            Сумма: {{amount}} рублей
            <h3><a href="/offers/remittance/{{id}}">Перевести средства</a></h3>
        </div>
    {{/each}}
{{else}}
    <h3>У вас нет расчетного счета</h3>
{{/if}}
<br>
<a href="/offers/addpayment">Создать новый расчетный счет</a>