<form action="/offers/remittance" method="post">
    <input type="hidden" name="sender" value={{pay.id}}>
    Номер счета: {{pay.id}}
    <br>
    Средства на счете: {{pay.amount}}
    <br>
    Введите счет получателя <input type="text" name="receiver">
    <br>
    Сумма которую вы хотите перевести <input type="text" name="amount">
    <br>
    <button>Перевести</button>
</form>