<div class="forms">
<h1>Добавить новый кредит</h1>
<form action="/addcredit" method="POST">

    <label for="name">Название</label>
    <input class="form-control" type="text" name="name" id="name" required>
    <br>

    <label for="amountFrom">Сумма от</label>
    <input class="form-control" type="text" name="amountFrom" id="amountFrom" required>
    <br>

    <label for="amountTo">Сумма до</label>
    <input class="form-control" type="text" name="amountTo" id="amountTo" required>
    <br>

    <label for="percent">Процент</label>
    <input class="form-control" type="text" name="percent" id="percent" required>
    <br>

    <label for="termFrom">Срок от (Месяцы)</label>
    <input class="form-control" type="text" name="termFrom" id="termFrom" required>
    <br>

    <label for="termTo">Срок до (Месяцы)</label>
    <input class="form-control" type="text" name="termTo" id="termTo" required>
    <br>
    <button class="btn btn-primary">Push me</button>
</form>
</div>
