<p>Не форма, а искусство</p>
<form action="/addperson" method="POST">
    <label for="surname">Фамилия</label>
    <input type="text" name="surname" required>

    <label for="name">Имя</label>
    <input type="text" name="name" required>

    <label for="patronymic">Отчество</label>
    <input type="text" name="patronymic" required>
    <br>

    <label for="dateBirth">Дата рождения</label>
    <input type="date" name="dateBirth" required>
    <br>

    <label for="phone">Номер телефона</label>
    <input type="text" name="phone" required>

    <label for="email">Электронная почта</label>
    <input type="email" name="email" required>
    <br>

    <label for="pasport">Серия и номер паспорта</label>
    <input type="text" name="pasport" required>

    <label for="pasportDate">Дата выдачи паспорта</label>
    <input type="date" name="pasportDate" required>
    <br>

    <label for="division">Кем выдан паспорт</label>
    <input type="text" name="division" required>
    <br>

    <select name="post">
        <option>Клиент</option>
        {{#if isAdm}}
            <option>Сотрудник</option>
            <option>Администратор</option>
        {{/if}}
    </select>

    <label for="key">Ключевое слово</label>
    <input type="text" name="key" required>
    <br>


    <button>Push me</button>
</form>