<div class="forms">
<h5>Регистрация нового пользователя</h5>
<form action="/addperson" method="POST">
    <label for="surname">Фамилия</label>
    <input class="form-control" type="text" name="surname" required>
    <br>
    <label for="name">Имя</label>
    <input class="form-control" type="text" name="name" required>
    <br>
    <label for="patronymic">Отчество</label>
    <input class="form-control" type="text" name="patronymic" required>
    <br>

    <label for="dateBirth">Дата рождения</label>
    <input class="form-control" type="date" name="dateBirth" required>
    <br>

    <label for="phone">Номер телефона</label>
    <input class="form-control" type="text" name="phone" required>
    <br>
    <label for="email">Электронная почта</label>
    <input class="form-control" type="email" name="email" required>
    <br>

    <label for="pasport">Серия и номер паспорта</label>
    <input class="form-control" type="text" name="pasport" required>
    <br>
    <label for="pasportDate">Дата выдачи паспорта</label>
    <input class="form-control" type="date" name="pasportDate" required>
    <br>

    <label for="division">Кем выдан паспорт</label>
    <input class="form-control" type="text" name="division" required>
    <br>

    <select class="form-select" name="post">
        <option>Клиент</option>
        {{#if isAdm}}
            <option>Сотрудник</option>
            <option>Администратор</option>
        {{/if}}
    </select><br>

    <label for="key">Ключевое слово</label>
    <input class="form-control" type="text" name="key" required>
    <br>


    <button class="btn btn-primary">Push me</button>
</form>
</div>
